.chart-container-float-right-btn-close{
    float:right;
    overflow: auto
}

.chart-container-float-right-toggle-listening{
    float:right;
    overflow: auto
}

.chart-container-options{
 
}

.chart-container-options-child{
    margin: 20px !important;
    margin-top: 0 !important;
    width: 200px;
    
}

.chart-container-graph{
    max-width: 100vw !important;
}


@media screen and (max-width: 850px) {
    .chart-container-options-child{         
        width: 80vw;        
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .main_Welcome_graph {
      margin-left: 0px;
      margin-right: 0px;
    }   
    
  
.chart-container-float-right-toggle-listening{
    float:left;
    overflow: auto
}

  }